<div class="card">
  <h2 class="title"> {{ title }} </h2>
  <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
      <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
        <i *ngIf="event.icon !== undefined" [ngClass]="event.icon"> </i>
        <p *ngIf="event.iconText !== undefined"> {{ event.iconText }} </p>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.date" [subheader]="event.status">
        <img *ngIf="event.image" [src]="'assets/' + event.image" [alt]="event.name" width="350" class="p-shadow-2" />
        <p [innerHTML]="event.text || 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!'"></p>
        <button *ngIf="event.link !== undefined"
                pButton type="button" label="Plus d'informations" class="p-button-text" (click)="openLink(event.link)"></button>
      </p-card>
    </ng-template>
  </p-timeline>
</div>
