
// region Button
.terminal-button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: relative;
  top: 6px;
  border: 1px solid;
  display: inline-block;
}

.terminal-close {
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
}

.terminal-minimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.terminal-zoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}
// endregion Button

:host {
  width: 75%;
  margin: 2em 0 2em 0;
}

.terminal-menu {
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.terminal {
  background-color: #151515;
  color: #a1c0f5;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.prompt {
  color: #4ce32a;
}

.invisible {
  display: none;
}

.indicator {
  animation: blinking .6s cubic-bezier(1, 0, 0, 1) infinite alternate;
}

@keyframes blinking {
  to { opacity: 0; }
}
