@import "./styles/colors";
@import "./styles/themes";
@import "./styles/animate";
@import "./styles/content";
@import "./styles/utilities";

body {
  padding: 2em;
  height: 100%;
  margin: 0;
  background-color: var(--background-color);

  @media screen and (max-width: 600px) {
    zoom: .7; 
    -moz-transform: scale(.7); 
    -moz-transform-origin: 0 0;
  }
}
