/**
 * Colors palette
 */

 $red    : #ff6969;
 $orange : #ffb75f;
 $yellow : #faff6d;
 $green  : #8aff72;
 $cyan   : #55f1ff;
 $blue   : #5a99ff;
 $purple : #836dff;
 $violet : #ff7cff;
 $light  : #ffffa7;
