<h2 i18n="main header|About me@@AboutMe" style="text-align: center;"> About me </h2>

<div class="card-container">
<button class="card card-small" (click)="selected = studies" tabindex="0">
    <span>Études</span>
</button>

<button class="card card-small" (click)="selected = pro" tabindex="0">
    <span>Experiences professionnelles</span>
</button>

<button class="card card-small" (click)="selected = university" tabindex="0">
    <span>Projets universitaires</span>
</button>

<button class="card card-small" (click)="selected = perso" tabindex="0">
    <span>Projets perso</span>
</button>
</div>

<app-terminal [text]="selected.terminal" [timer]="25"></app-terminal>

<app-timeline [title]="selected.title" [events]="selected.timeline"></app-timeline>
