.title {
    text-align: center;
    text-shadow: turquoise 0 0 10px;
    font-size: 5rem;
    
    background-image: url("../../assets/card.jpg");
    background-size: cover;
    background-clip: text;
    color: transparent;
}